
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: #B0CFDE;
}

header{
    text-align: center;
}

.hed{
    background-color:#3090C7;
    background-attachment: fixed;
    background-origin: border-box;
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
    font-size: 40px;
}

header h4{
    color:black;
    font-weight: bold;
    font-size: 20px;
}

h1{
    margin-top: 30px;
    padding: 20px;
}

.paragraf{
    text-align: center;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    width: 120px;
}

pre{
    margin-top: 20px;
    margin-left: -70px;
}

.judulluas{
    text-align: center;
}

.judulkeliling{
    text-align: center;
}

.input{
    display: flex;
    flex-direction: column;

}

#squareSide{
    margin-top: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f2f2f3;
    padding: 8px 12px;
    margin: 6px 0;
    transition: width 0.10s ease-in-out;
    width: 30%;
}

#squareSide:focus{
    width: 40%;
}

button{
    background-color: #3090C7;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

#risetbutton{
    background-color: red;
}

#risetbutton:hover{
    background-color:#B0CFDE;
}

#risetbutton:active{
    background-color:#C9DFEC;
}

button:hover{
    background-color:#B0CFDE;
}

button:active{
    background-color:#C9DFEC;
    transform: translateY(2px);
}

#inputkeliling{
    margin-top: 5px;
    outline: none;
    border-radius: 8px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f2f2f3;
    padding: 8px 12px;
    margin: 6px 0;
    transition: width 0.10s ease-in-out;
    width: 30%;
}

#inputkeliling:focus{
    width: 40%;
}

#footer {
    text-align: center;
  }

@media screen and (max-widht: 600px) {
    body {
        background-color: #ADD8E6;
        font-size: 14px;
    }

    .hed{
        background-color: #6495ED;
    }
    
    #inputbutton{
        background-color: #26c6f3;
    }

    #squareSide{
        width:250px;
        padding: 0,5em 0 0,5em 0;
        border:solid 5px #F1F1F1;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        background-color: #b7bdc3;
    }

    #inputkeliling{
        width:250px;
        padding: 0,5em 0 0,5em 0;
        border:solid 5px #F1F1F1;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        background-color: #AFC8DE;
    }
}

@media screen and (max-width: 768px){
    body {
        background-color: #87CEEB;
        font-size: 18px;
        text-align: center;
    }
    .hed{
        background-color: #00BFFF ;
    }

    #inputbutton{
        background-color: #3090C7;
    }

    #squareSide{
        width:250px;
        padding: 0,5em 0 0,5em 0;
        border:solid 5px #F1F1F1;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        background-color: #AFC8DE;
    }

    #inputkeliling{
        width:250px;
        padding: 0,5em 0 0,5em 0;
        border:solid 5px #F1F1F1;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        background-color: #AFC8DE;
    }
} 
    
